In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("data/train.csv")

In [3]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [7]:
train[['Deck', 'Num', 'Side']] = train['Cabin'].str.split('/', expand = True)
train = train.drop(['Cabin'], axis = 1)
train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Num,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,A,98,P
8689,9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,G,1499,S
8690,9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,G,1500,S
8691,9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,E,608,S
8692,9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,E,608,S

## Treating missing values

In [8]:
train['HomePlanet'].mode()[0]

'Earth'

In [9]:
train['HomePlanet'].fillna(train['HomePlanet'].mode()[0], inplace=True)
train['CryoSleep'].fillna(train['CryoSleep'].mode()[0], inplace=True)
train['Destination'].fillna(train['Destination'].mode()[0], inplace=True)
train['VIP'].fillna(train['VIP'].mode()[0], inplace=True)
train['Deck'].fillna(train['Deck'].mode()[0], inplace=True)
train['Num'].fillna(train['Num'].mode()[0], inplace=True)
train['Side'].fillna(train['Side'].mode()[0], inplace=True)

train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']] = train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].fillna(0)

train['Age'].fillna(train['Age'].mean(),inplace=True)

In [10]:
train.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Deck              0
Num               0
Side              0
dtype: int64

In [11]:
train['total_spent'] = train['RoomService'] + train['FoodCourt'] + train['ShoppingMall'] + train['Spa'] + train['VRDeck']

In [12]:
train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Num,Side,total_spent
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P,0.0
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S,736.0
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S,10383.0
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S,5176.0
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S,1091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,A,98,P,8536.0
8689,9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,G,1499,S,0.0
8690,9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,G,1500,S,1873.0
8691,9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,E,608,S,4637.0
8692,9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,E,608,S,4826.0

In [13]:
train = train.drop(['PassengerId', 'Name', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], axis = 1)

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HomePlanet   8693 non-null   object
 1   CryoSleep    8693 non-null   bool
 2   Destination  8693 non-null   object
 3   Age          8693 non-null   float64
 4   VIP          8693 non-null   bool
 5   Transported  8693 non-null   bool
 6   Deck         8693 non-null   object
 7   Num          8693 non-null   object
 8   Side         8693 non-null   object
 9   total_spent  8693 non-null   float64
dtypes: bool(3), float64(2), object(5)
memory usage: 501.0+ KB

In [15]:
train

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Num,Side,total_spent
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,0,P,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,0,S,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,0,S,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,0,S,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,1,S,1091.0
...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,False,A,98,P,8536.0
8689,Earth,True,PSO J318.5-22,18.0,False,False,G,1499,S,0.0
8690,Earth,False,TRAPPIST-1e,26.0,False,True,G,1500,S,1873.0
8691,Europa,False,55 Cancri e,32.0,False,False,E,608,S,4637.0
8692,Europa,False,TRAPPIST-1e,44.0,False,True,E,608,S,4826.0

In [16]:
train['CryoSleep'].replace({True:1,False:0},inplace=True)
train['VIP'].replace({True:1,False:0},inplace=True)
train['Transported'].replace({True:1,False:0},inplace=True)

In [17]:
train['Num'] = train['Num'].astype(float)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HomePlanet   8693 non-null   object
 1   CryoSleep    8693 non-null   int64
 2   Destination  8693 non-null   object
 3   Age          8693 non-null   float64
 4   VIP          8693 non-null   int64
 5   Transported  8693 non-null   int64
 6   Deck         8693 non-null   object
 7   Num          8693 non-null   float64
 8   Side         8693 non-null   object
 9   total_spent  8693 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 679.3+ KB

## Encoding

In [19]:
categorical_cols = [cols for cols in train if train[cols].dtypes=='O']

In [20]:
categorical_cols

['HomePlanet', 'Destination', 'Deck', 'Side']

In [21]:
pd.DataFrame(train[categorical_cols].nunique(), columns=['N_unique'])

             N_unique
HomePlanet          3
Destination         3
Deck                8
Side                2

In [22]:
train = pd.get_dummies(train, drop_first=True)

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CryoSleep                  8693 non-null   int64
 1   Age                        8693 non-null   float64
 2   VIP                        8693 non-null   int64
 3   Transported                8693 non-null   int64
 4   Num                        8693 non-null   float64
 5   total_spent                8693 non-null   float64
 6   HomePlanet_Europa          8693 non-null   uint8
 7   HomePlanet_Mars            8693 non-null   uint8
 8   Destination_PSO J318.5-22  8693 non-null   uint8
 9   Destination_TRAPPIST-1e    8693 non-null   uint8
 10  Deck_B                     8693 non-null   uint8
 11  Deck_C                     8693 non-null   uint8
 12  Deck_D                     8693 non-null   uint8
 13  Deck_E                     8693 non-null   uint8
 14  Deck_F                     8693 non-null   uint8
 15  Deck_G                     8693 non-null   uint8
 16  Deck_T                     8693 non-null   uint8
 17  Side_S                     8693 non-null   uint8
dtypes: float64(3), int64(3), uint8(12)
memory usage: 509.5 KB

In [24]:
train

,CryoSleep,Age,VIP,Transported,Num,total_spent,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_S
0,0,39.0,0,0,0.0,0.0,1,0,0,1,1,0,0,0,0,0,0,0
1,0,24.0,0,1,0.0,736.0,0,0,0,1,0,0,0,0,1,0,0,1
2,0,58.0,1,0,0.0,10383.0,1,0,0,1,0,0,0,0,0,0,0,1
3,0,33.0,0,0,0.0,5176.0,1,0,0,1,0,0,0,0,0,0,0,1
4,0,16.0,0,1,1.0,1091.0,0,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,41.0,1,0,98.0,8536.0,1,0,0,0,0,0,0,0,0,0,0,0
8689,1,18.0,0,0,1499.0,0.0,0,0,1,0,0,0,0,0,0,1,0,1
8690,0,26.0,0,1,1500.0,1873.0,0,0,0,1,0,0,0,0,0,1,0,1
8691,0,32.0,0,0,608.0,4637.0,1,0,0,0,0,0,0,1,0,0,0,1
8692,0,44.0,0,1,608.0,4826.0,1,0,0,1,0,0,0,1,0,0,0,1

## Separating Feature and Target Variables

In [25]:
target = train['Transported']
features = train.drop(['Transported'],axis=1)

## Train Test Split

In [26]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,target,random_state=1,test_size=0.2,stratify=target)

## Modelling and Prediction

In [27]:
from sklearn.linear_model import LogisticRegression
logreg_model = LogisticRegression()
logreg_model.fit(xtrain,ytrain)

LogisticRegression()

In [28]:
y_pred = logreg_model.predict(xtest)

In [29]:
from sklearn.metrics import classification_report
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

           0       0.70      0.84      0.76       863
           1       0.80      0.65      0.72       876

    accuracy                           0.74      1739
   macro avg       0.75      0.74      0.74      1739
weighted avg       0.75      0.74      0.74      1739

In [30]:
import pickle
pickle.dump(logreg_model, open('models/logreg_model.pkl', 'wb'))

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=9, random_state=0)
rf.fit(xtrain,ytrain)
rf_y_pred = rf.predict(xtest)
rf_y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [32]:
print(classification_report(ytest,rf_y_pred))

              precision    recall  f1-score   support

           0       0.72      0.85      0.78       863
           1       0.82      0.68      0.74       876

    accuracy                           0.76      1739
   macro avg       0.77      0.76      0.76      1739
weighted avg       0.77      0.76      0.76      1739

In [33]:
pickle.dump(rf, open('models/rf_model.pkl', 'wb'))